@media screen and (max-width: 1920px) {
    #niche {
        background-position: 56.95em 4.98em, top left;
    }
}
@media screen and (max-width: 1660px) {
    #niche {
        height: 1100px;
    }
    .alex {
        top: 6em;
        right: 9em;
    }
    .title-and-form {
        top: 7em;
        left: 12em;
    }
    .btn {
        bottom: 19em;
    }
    .arrow {
        bottom: 14.5em;
    }
    #video {
        margin-top: -10em;
    }
    iframe {
        height: 600px;
        margin: 2em 0;
    }
    #video>.arrow {
        bottom: 1.5em;
    }
}
@media screen and (max-width: 1590px) {
    #niche {
        height: 1000px;
    }
    .title-and-form {
        left: 7em;
    }
    .btn {
        bottom: 13em;
    }
    .arrow {
        bottom: 8em;
    }
    #video {
        width: 65%;
        margin-top: -3.5em;
    }
}
@media screen and (max-width: 1430px) {
    .title-and-form {
        left: 5em;
    }
    iframe {
        height: 500px;
    }
}
@media screen and (max-width: 1395px) {
    .alex {
        right: 5em;
    }
}
@media screen and (max-width: 1320px) {
    #niche {
        height: 900px;
    }
    .alex {
        top: 2em;
        right: 2em;
    }
    .title-and-form {
        top: 3em;
        left: 2em;
    }
    .btn {
        bottom: 11em;
    }
    .arrow {
        bottom: 6em;
    }
    #video {
        width: 60%;
        margin-top: -1.5em;
        padding: 1em;
    }
    .nav {
        top: 8em;
        right: 2em;
    }
    .efforts {
        font-size: 1.5em;
    }
    .want-to-know {
        font-size: 1em;
        margin-bottom: 2em;
    }
    iframe {
        height: 400px;
        margin: 1em 0;
    }
    #video>.arrow {
        bottom: 1em;
    }
}
@media screen and (max-width: 1278px) {
    #niche {
        background-position: 21em 5.625em, top left;
    }
    #video {
        width: 75%;
    }
}
@media screen and (max-width: 1156px) {
    .alex {
        right: -5em;
    }
    .nav, .btn, #niche>.arrow {
        display: none;
    }
    #video {
        width: 90%;
        margin-top: -3em;
    }
    .title-and-form {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    #niche {
        background-position: 14em 5.625em, bottom center;
    }
    #video {
        width: 93%;
    }
}
@media screen and (max-width: 964px) {
    #niche {
        height: 900px;
        background-position: 18em 5.625em, bottom right;
    }
    .alex {
        right: -10em;
    }
    #video {
        width: 90%;
        margin-top: -2em;
    }
}
@media screen and (max-width: 884px) {
    .title-and-form {
        width: 70%;
    }
}
@media screen and (max-width: 842px) {
    .alex {
        top: 8.875em;
        right: -10em;
    }
    .title-and-form {
        top: 2em;
    }
}
@media screen and (max-width: 736px) {
    #niche {
        height: 850px;
        background-position: 8.5em 14.625em, bottom right;
    }
    .alex {
        right: -15em;
    }
}
@media screen and (max-width: 667px) {
    #niche {
        background-position: 5.5em 14.625em, bottom right;
    }
    .alex {
        right: -19em;
    }
    #video {
        height: 360px;
    }
}
@media screen and (max-width: 640px) {
    #niche {
        height: 1020px;
        background: url(../img/polygon-niche.png) no-repeat, 
                url(../img/niche-bgr-mobile.png) no-repeat;
        background-position: 8.8em 14.625em, top left;
    }
    .alex {
        top: 9em;
        right: -21.3em;
    }
    .title-and-form {
        width: 90%;
        margin-left: .8em;
    }
    .niche-title {
        margin-bottom: .85em;
        margin-left: -.05em;
    }
    .to-get {
        width: 90%;
        align-self: center;
    }
    input {
        width: 80%;
    }
    input::placeholder {
        font-size: 1.25em;
    }
    input[type='text'] {
        padding: 1.625em 5.4375em;
    }
    input[name="name"], input[name="email"], input[name="tel"] {
        background-size: 1.25em;
        background-position-x: 2.563em;
    }
    input[type="submit"] {
        width: 110%;
        font-size: 1.5em;
        border-radius: 1em;
        -webkit-border-radius: 1.5em;
        -moz-border-radius: 1.5em;
        -ms-border-radius: 1.5em;
        -o-border-radius: 1.5em;
    }
    #video {
        width: 90%;
        height: 300px;
        padding: 1em;
    }
    .efforts {
        width: 90%;
        font-size: 1.5em;
    }
    .want-to-know {
        font-size: 1.25em;
    }
    iframe {
        width: 100%;
        height: 324px;
    }
}
@media screen and (max-width: 600px) {
    #niche {
        height: 1000px;
        background-position: 6.8em 13em, top left;
    }
    .alex {
        width: 90%;
        top: 9em;
        right: -12em;
    }
    .niche-title {
        font-size: 10em;
        margin-bottom: .95em;
    }
    .choose-model {
        font-size: 1.6em;
    }
    input {
        width: 78%;
    }
    iframe {
        height: 304px;
    }
    .efforts {
        font-size: 1.25em;
    }
    .want-to-know {
        font-size: 1em;
    }
}
@media screen and (max-width: 550px) {
    #niche {
        height: 930px;
        background-position: 4.4em 11.5em, top left;
    }
    .niche-title {
        font-size: 8.5em;
        margin-bottom: 1em;
    }
    .alex {
        top: 7.6em;
        right: -9.7em;
    }
    .choose-model {
        font-size: 1.5em;
    }
    input {
        width: 75%;
    }
    input[type="submit"] {
        font-size: 1.25em;
    }
    iframe {
        height: 225px;
    }
}
@media screen and (max-width: 472px) {
    #niche {
        height: 900px;
        background-position: 8.7em 12em, top left;
        background-size: contain, cover;
    }
    .alex {
        top: 8.7em;
        right: -9.8em;
    }
    .prog {
        margin-bottom: -30px;
    }
    .niche-title {
        font-size: 8em;
    }
    .title-and-form {
        margin-left: .3em;
    }
    .choose-model {
        font-size: 1.3em;
    }
    .to-get {
        width: 86%;
        margin-left: -1em;
    }
    input {
        width: 70%;
    }
    input[type="submit"] {
        width: 115%;
        font-size: 1.15em;
        padding: 1em 1em;
    }
    #video {
        width: 87%;
        margin-top: -.5em;
    }
    iframe {
        height: 260px;
    }
    .efforts {
        font-size: 1em;
    }
    .want-to-know {
        font-size: .9em;
    }
}
@media screen and (max-width: 445px) {
    #niche {
        height: 870px;
        background-position: 8em 11.5em, top left;
    }
    .niche-title {
        font-size: 7.5em;
        margin-bottom: .85em;
    }
    .title-and-form {
        margin-left: 0;
    }
    .choose-model {
        font-size: 1.19em;
    }
    .alex {
        top: 8.2em;
        right: -9em;
    }
    input {
        width: 68%;
    }
    input[type="submit"] {
        width: 116%;
    }
    .to-get {
        margin-left: -.9em;
    }
    #video {
        width: 89%;
        box-shadow: 0 0 0 .5em rgba(255, 0, 0, 0.5);
    }
    .efforts {
        font-size: .9em;
    }
    iframe {
        height: 220px;
    }
    .want-to-know {
        font-size: .8em;
    }
}
@media screen and (max-width: 414px) {
    .niche-title {
        font-size: 7.1em;
    }
    input {
        width: 64.5%;
    }
    input[type="submit"] {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 376px) {
    #niche {
        height: 780px;
        background-position: 7.45em 10em, top left;
    }
    .niche-title {
        font-size: 6.45em;
        margin-bottom: .75em;
    }
    .choose-model {
        font-size: 1em;
    }
    .alex {
        top: 7.5em;
        right: -8.2em;
    }
    input {
        width: 69%;
    }
    input[name="name"], input[name="email"], input[name="tel"] {
        background-size: 1.1em;
        background-position-x: 2.2em;
    }
    input[type='text'] {
        padding: 1.625em 5em;
        margin-left: .1em;
    }
    input::placeholder {
        font-size: 1.2em;
    }
    input[type="submit"] {
        width: 113%;
        font-size: 1em;
    }
    .to-get {
        width: 88.5%;
        margin-left: -1em;
        padding: 1.5em 1.5em 1.1em 1.5em;
    }
    #video {
        width: 87%;
        height: 260px;
        padding: .5em;
    }
    .efforts {
        font-size: .8em;
    }
    iframe {
        height: 190px;
        margin: .5em 0;
    }
    .want-to-know {
        font-size: .7em;
    }
    #video>.arrow {
        bottom: .5em;
    }
}
@media screen and (max-width: 321px) {
    #niche {
        height: 760px;
    }
    .alex {
        top: 6.9em;
        right: -8.1em;
    }
    .niche-title {
        font-size: 5.8em;
    }
    .to-get {
        margin-left: -1.3em;
    }
    input {
        width: 55%;
    }
    input[type="submit"] {
        font-size: .8em;
    }
    #video {
        width: 86%;
        height: 250px;
    }
    .efforts {
        font-size: .7em;
    }
    iframe {
        height: 160px;
    }
    .want-to-know {
        font-size: .6em;
        margin-bottom: 3em;
    }
}