* {
    margin: 0;
    padding: 0;
}
html, body, #niche {
    width: 100%;
    font-size: 16px;
    background: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.choose-model, input[type="submit"], 
#niche .btn, .list-active, .efforts, .want-to-know {
    color: #ffffff;
}
#niche {
    position: relative;
    height: 1186px;
    background: url(../img/polygon-niche.png) no-repeat, 
                url(../img/niche-bgr.png);
    background-size: auto, cover;
    background-position: 34.35em 5.625em, top left;
    overflow: hidden;
}
.alex {
    position: absolute;
    top: 6.75em;
    right: 10.2em;
}
.title-and-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 8em;
    margin-left: 14.4em;
    
}
.prog {
    font-family: 'Montserrat-Regular';
    font-size: 1.5em;
    color: #ff0000;
    margin-bottom: -25px;
    margin-left: 5px;
}
.niche-title {
    font-family: 'Oswald-Medium';
    font-size: 11.25em;
    background: linear-gradient(to right, #ffffff, #444444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .14em;
}
.choose-model {
    font-family: 'Montserrat-Medium';
    font-size: 1.75em;
    line-height: 40px;
    margin-left: .21em;
}
.prog, .niche-title, .choose-model, .to-get {
    z-index: 1;
}
.to-get {
    width: 24em;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-left: 9px;
    padding: 2.5em 2em 1.25em 2em;
    background: #313131;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#form {
    width: inherit;
    display: flex;
    flex-direction: column;
}
input {
    cursor: pointer;
    border: none;
}
input[type='text'] {
    padding: 1.188em 3.563em;
    color: #74767b;
    background: #0a0a0a;
    margin-bottom: 15px;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
}
input[name='tel'] {
    margin-bottom: 1.625em;
}
input[type="text"]::placeholder {
    font-size: 1em;
    color: #ffffff;
}
input[name="name"] {
    background-image: url(../img/user_male.svg);
}
input[name="email"] {
    background-image: url(../img/message.svg);
}
input[name="tel"] {
    background-image: url(../img/phone1.svg);
}
input[name="name"], input[name="email"], input[name="tel"] {
    background-repeat: no-repeat;
    background-size: 0.813em;
    background-position: 1.563em center;
}
input[type="submit"], #niche .btn {
    background-image: -webkit-linear-gradient(90deg, #a00200 0%, red 100%);
    background-image: -moz-linear-gradient(90deg, #a00200 0%, red 100%);
    background-image: -ms-linear-gradient(90deg, #a00200 0%, red 100%);
    box-shadow: 0 .2em 0 0 #810000,
                0 0 .5em #ff0000;
}
input[type="submit"] {
    width: 100%;
    padding: 1em 2em;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.125em;
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
.only-this-week {
    font-family: 'Montserrat-Light';
    font-size: .75em;
    line-height: 3.75em;
    text-align: center;
    margin-top: 1.188em;
    color: #868686;
}
.btn, .arrow {
    position: absolute;
    left: 50%;
}
.btn {
    width: 12.25em;
    display: flex;
    flex-direction: row;
    background: #ff0000;
    padding: 0.5em 0.7em;
    border: none;
    border-radius: 1.7em;
    -webkit-border-radius: 1.7em;
    -moz-border-radius: 1.7em;
    -ms-border-radius: 1.7em;
    -o-border-radius: 1.7em;
    position: absolute;
    left: 50%;
    bottom: 22em;
    margin-left: -6.25em;
    z-index: 9;
}
.btn img {
    width: 2.313em;
    height: 2.313em;
}
.btn p {
    width: 9em;
    font-family: 'Montserrat-Medium';
    font-size: 0.875em;
    margin-left: 1em;
    text-align: left;
}
.arrow {
    width: 0.938em;
    height: 1.188em;
    bottom: 17.5em;
    margin-left: -0.469em;
}
.nav {
    height: 398.5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8.45em;
    right: 2.7em;
    text-align: right;
}
.nav li {
    font-size: 14px;
    line-height: 30px;
    font-family: 'Montserrat-Light';
    list-style: none;
    color: #ffffff;
    letter-spacing: -.1px;
}
.nav .vertical-line {
    width: inherit;
    height: 5em;
    border-right: 1px solid #343434;
}
.nav li a {
    position: relative;
    padding-right: 1em;
}
.nav li a:hover {
    text-transform: uppercase;
}
.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: .1em solid #ffffff;
}
.list-active {
    font-family: 'Montserrat-Bold';
    color: #ffffff;
}
.nav a.list-active::after {
    border: .15em solid #ffffff;
}
#video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-family: 'Montserrat-SemiBold';
    margin: -13em auto 0 auto;
    padding: 3em;
    background-color: #1f1f1f;
    background-image: url(../img/polygon-video-left.png),
                    url(../img/polygon-video-right.png);
    background-position: 5% center,
                         95% center;
    background-repeat: no-repeat;
    background-size: 20%;
    position: relative;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    box-shadow: 0 0 0 .9em rgba(255, 0, 0, 0.5);
}
.efforts {
    font-size: 2.5em;
    text-align: center;
}
.want-to-know {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 1em;
}
iframe {
    height: 660px;
    margin: 3em 0;
    border-radius: .6em;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    -ms-border-radius: .6em;
    -o-border-radius: .6em;
}
#video>.arrow {
    bottom: 1.5em;
}