      *{
        margin: 0;
        padding: 0;
      }
      body{
        text-align: center;
      }
      button{
        width: 90px;
        padding: 5px 10px;
        margin: 10px 10px 0 10px;
        border: none;
        border-radius: 5px;
      }
      #stop{
        background-color: red;
        color: white;
      }
      .start{
        width: 150px;
        background-color: rgb(74, 226, 31);
        color: white;
      }
      #reset{
        background-color: rgb(0, 123, 255);
        color: white;
      }
      #result{
        width: 400px;
        position: relative;
        top: 255px;
        left: 56px;
        transform: rotate(90deg);
      }
      hr{
        width: 50%;
        float: left;
      }
      #main{
        width: 512px;
        height: 512px;
        background-image: url('clock.jpg');
        margin: 0 auto;
      }
      #time{
        font-size: 30px;
      }