@media screen and (max-width: 1500px) {
    .contacts{
        left: 120px;
    }
    .social{
        right: 120px;
    }
    .logo{
        left: 120px;
    }
    .navbar{
        left: 325px;
    }
    .searchUserCart{
        right: 120px;
    }
    .productImg{
        left: 195px;
    }
    #details{
        right: 295px;
    }
    #choos{
        right: 210px;
    }
    #priceButton{
        right: 205px;
    }
}
@media screen and (max-width: 1400px) {
    .contacts{
        left: 100px;
    }
    .social{
        right: 100px;
    }
    .logo{
        left: 100px;
    }
    .navbar{
        left: 305px;
    }
    .searchUserCart{
        right: 100px;
    }
    .productImg{
        left: 155px;
    }
    #details{
        right: 255px;
    }
    #choos{
        right: 170px;
    }
    #priceButton{
        right: 165px;
    }
}
@media screen and (max-width: 1300px) {
    .productImg{
        left: 105px;
    }
    #details{
        right: 205px;
    }
    #choos{
        right: 120px;
    }
    #priceButton{
        right: 115px;
    }
}
@media screen and (max-width: 1200px) {
    .contacts{
        left: 50px;
    }
    .social{
        right: 50px;
    }
    .logo{
        left: 50px;
    }
    .navbar{
        left: 255px;
    }
    .searchUserCart{
        right: 50px;
    }
    .productImg{
        left: 55px;
    }
    #details{
        right: 155px;
    }
    #choos{
        right: 70px;
    }
    #priceButton{
        right: 65px;
    }
}
@media screen and (max-width: 1100px) {
    header{
        height: 132px;
    }
    .topHeader{
        height: 40px;
    }
    #bottomHeader{
        height: 92px;
    }
    .logo{
        top: 28px;
    }
    .navbar{
        left: 225px;
        width: 400px;
    }
    #product{
        height: 451px;
    }
    .productImg{
        width: 205px;
        height: 253px;
        top: 64px;
    }
    .productImg img:first-child{
        max-width: 150px;
        max-height: 200px;
    }
    .littleProducts{
        height: 48px;
    }
    .image,
    .backgr,
    .image:last-child{
        width: 60px;
        height: 38px;
        padding: 0;
    }
    .image img{
        max-height: 35px;
    }
    #details{
        width: 450px;
        height: 157px;
        top: 64px;
    }
    h1{
        font-size: 42.15px;
    }
    h4{
        font-size: 16px;
        margin: 15px 0 15px 0px;
        color: #3c4751;
    }
    p{
        font-size: 15px;
    }
    #choos{
        width: 525px;
        height: 65px;
        right: 80px;
        top: 251px;
    }
    .size,
    .quantity{
        width: 200px;
    }
    .size h4,
    .quantity h4{
        font-size: 17px;
        margin: 0 15px 0 0;
    }
    hr{
        top: 32px;
        left: 255px;
    }
    #priceButton{
        width: 530px;
        height: 91px;
        right: 85px;
        top: 320px;
    }
    h3{
        font-size: 18px;
    }
    .icons{
        width: 101px;
        right: 134px;
    }
    button{
        width: 100px;
        height: 39px;
        border-radius: 20px;
        font-size: 15px;
        right: 0;
    }
}   
@media screen and (max-width: 950px) {
    #product{
        height: 391px;
    }
    .productImg,
    #details{
        top: 44px;
    }
    .productImg{
        left: 30px;
    }
    #details{
        right: 125px;
    }
    h1{
        font-size: 40px;
    }
    h4{
        margin: 10px 0 10px 0px;
    }
    #choos{
        right: 50px;
        top: 211px;
    }
    .size h4,
    .quantity h4{
        margin: 0 10px 0 0;
    }
    #priceButton{
        right: 55px;
        top: 270px;
    }
} 
@media screen and (max-width: 850px) {
    header{
        height: 112px;
    }
    #bottomHeader{
        height: 72px;
    }
    .contacts{
        left: 35px;
    }
    .logo{
        left: 35px;
        top: 18px;
    }
    .navbar{
        left: 185px;
    }
    .social{
        right: 35px;
    }
    .searchUserCart{
        right: 35px;
    }
    #product{
        height: 330px;
    }
    .productImg{
        top: 30px;
    }
    #details{
        width: 440px;
        height: 150px;
        top: 30px;
        right: 75px;
    }
    h1{
        font-size: 36px;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    #choos,
    #priceButton{
        width: 485px;
        height: 45px;
        right: 30px;
        top: 191px;
    }
    hr{
        top: 22px;
        left: 235px;
    }
    #priceButton{
        top: 250px;
        right: 40px;
    }
}  
@media screen and (max-width: 770px) {
    header{
        height: 142px;
    }
    #bottomHeader{
        height: 102px;
    }
    .navbar{
        position: absolute;
        left: 0;
        bottom: 0;
        width: inherit;
        height: 40px;
        justify-content: space-around;
    }
    .searchUserCart{
        height: 62px;
    }
    #product{
        height: 430px;
    }
    .productImg{
        left: 50px;
    }
    #details{
        all: initial;
        width: inherit;
        height: 110px;
        padding: 20px;
        position: absolute;
        bottom: 0;
    }
    h1{
        font-size: 30px;
        text-align: center;
    }
    h4{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    #choos{
        width: 300px;
        height: 92px;
        right: 50px;
        top: 30px;
    }
    hr{
        display: none;
    }
    .size,
    .quantity{
        display: block;
        width: inherit;
        height: 35px;
        position: absolute;
        text-align: right;
    }
    .size{
        top: 15px;
    }
    .quantity{
        bottom: 0;
    }
    .size h4,
    .quantity h4{
        width: 150px;
        display: inline-block;
        text-align: left;
        float: left;
    }
    #priceButton{
        width: 300px;
        height: 100px;
        right: 50px;
        top: 124px;
    }
    #priceButton h3{
        width: inherit;
        position: absolute;
        top: 15px;
        margin: 0;
    }
    .icons{
        display: block;
        height: 39px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .icons img{
        margin-right: 10px;
    }
    button{
        bottom: 5px;
        right: 0;
    }
}
@media screen and (max-width: 620px) {
    #product{
        height: 445px;
    }
    .productImg{
        left: 30px;
    }
    #details{
        height: 125px;
    }
    #choos{
        width: 250px;
        right: 30px;
    }
    #priceButton{
        width: 250px;
        right: 30px;
    }
}
@media screen and (max-width: 550px) {
    #product{
        height: 450px;
    }
    #details{
        height: 130px;
    }
}
@media screen and (max-width: 520px) {
    .contacts{
        left: 10px;
    }
    .social{
        right: 10px;
    }
    .logo{
        left: 10px;
    }
    .searchUserCart{
        right: 10px;
    }
    #product{
        height: 650px;
    }
    .productImg{
        left: 0;
        margin: 0 auto;
    }
    #choos{
        width: 80%;
        height: 80px;
        right: 0;
        left: 0;
        bottom: 0;
        top: 290px;
        margin: 0 auto;
    }
    .size,
    .quantity{
        right: 0;
        left: 0;
        display: block;
        margin: 0 auto;
    }
    .size h4,
    .quantity h4{
        width: 130px;
    }
    #priceButton{
        top: 375px;
        right: 0;
        left: 0;
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 360px) {
    header{
        height: 112px;
    }
    .social{
        display: none;
    }
    .logo{
        left: 40px;
    }
    #bottomHeader{
        height: 72px;
    }
    .searchUserCart{
        height: 72px;
    }
    #menuIcon{
        display: block;
    }
    .navbar{
        display: none;
    }
    #product{
        height: 670px;
    }
    #details{
        height: 150px;
    }
    #choos,
    #priceButton{
        width: 95%;
    }
}