* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
}
.first {
  height: 665px;
}
.head {
  width: inherit;
  background: #9C7643;
  background: radial-gradient(ellipse at center, #9C7643 0%, #663F04 100%, #C59237 100%);
  position: relative;
}
img {
  float: right;
  margin-right: 3.163%;
}
.sign {
  width: 535px;
  height: 101px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
}
.sign p {
  width: 259px;
  height: 50px;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top: 36px;
  left: 42px;
}
.star {
  color: #aa9993;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
}
.sign img {
  position: absolute;
  top: -36px;
  right: 75px;
}
.title {
  width: 988px;
  height: 638px;
  padding-left: 44px;
  position: absolute;
  left: 50%;
  margin-left: -494px; 
}
.note {
  color: #96784a;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.3em;
  margin-top: 5px;
}
.title img, .title a {
  margin-left: 3px;
}
.title img {
  position: absolute;
  top: 48px;
}
.giving {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  position: absolute;
}
.name {
  top: 121px;
}
.forU {
  width: 623px;
  top: 174px;
}
.line {
  width: 435px;
  height: 1px;
  background: #DBAB00;
  border: 5px solid #DBAB00;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 293px;
}
.congr {
  width: 430px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  position: absolute;
  top: 326px;
}
.title a {
  padding: 28px 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  background: #A70B0B;
  position: absolute;
  top: 491px;
  text-decoration: none;
}
.title a:hover {
  -webkit-box-shadow: 0px 0px 15px #DD9E23;
          box-shadow: 0px 0px 15px #DD9E23;
}
.second {
  width: 1170px;
  height: 210px;
  position: relative;
  margin: 0 auto 40px auto;
}
.nameCongr, .success, .redDiplom {
  position: absolute;
  left: 50%;
  text-align: center;
}
.nameCongr {
  width: 481px;
  margin-left: -240.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 23px;
}
.nameCongr span, .success, .redDiplom {
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  line-height: 38px;
}
.success {
  width: 949px;
  margin-left: -479.5px;
  top: 95px;
}
.redDiplom {
  line-height: 42px;
  color: #A70B0B;
  width: 780px;
  margin-left: -390px;
  top: 139px;
}
.tree {
  width: 666px;
  height: 1px;
  background: #DBAB00;
  border: 4px solid #DBAB00;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -333px;
}
.branchLeft, .branchRight {
  position: absolute;
  width: 295.32px;
  height: 277.54px;
  top: -5px;
}
.branchLeft {
  left: 35px;
}
.branchRight {
  right: 0px;
}
.third {
  width: 1170px;
  height: 565px;
  margin: 0 auto;
}
.prizeMe {
  width: 573px;
  margin-left: 141px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prizeMe p:first-child {
  width: 539px;
  margin: 4px 0 20.58px 0;
}
.prizeMe p:nth-child(2) {
  width: inherit;
  height: 127px;
  margin-bottom: 3px;
}
.prizeMe p:nth-child(3) {
  width: 570px;
  height: 75px;
  margin-bottom: 26px;
  margin-left: 3px;
}
.prizeMe p:nth-child(4) {
  width: 570px;
  height: 119px;
  background: rgba(242, 214, 116, 0.58);
  margin-bottom: 26px;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prizeMe p:nth-child(5) {
  width: inherit;
  height: 119px;
  margin-left: 3px;
}
.prizeMe p:nth-child(2), .prizeMe p:nth-child(3),
.prizeMe p:nth-child(5) {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
}
.redText {
  color: #A70B0B;
}
.yellowText {
  color: #DBAB00;
}
span.yellBackgr {
  width: 457px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.starBig {
  font-size: 20;
  color: #aa9993;
  margin: 0;
}
.diplomView {
  width: 453px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.diplom {
  width: 276px;
  height: 197px;
  margin: 0 0 16px 39px;
  cursor: pointer;
}
.diplomView a:first-child, .diplomView a:last-child {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.diplomView a:nth-child(2) {
  width: 276px;
  padding: 20.5px 0;
  text-align: center;
  color: #ffffff;
  border: none;
  background: #A70B0B;
  margin: 0 0 56px 39px;
  cursor: pointer;
  text-decoration: none;
}
.diplomView a:nth-child(2):hover {
  -webkit-box-shadow: 0px 0px 15px #DD9E23;
          box-shadow: 0px 0px 15px #DD9E23;
}
.prizeMe p:first-child, .diplomView a {
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
}
.addition {
  width: 234px;
  height: 158px;
  margin-left: 59px;
  cursor: pointer;
}
.diplom:hover, .addition:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.delivery {
  width: 853px;
  height: 134px;
  border: 5px solid #DBAB00;
  margin: 0 auto 37px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.delivery p {
  width: 729px;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #A70B0B;
}
.delivery p span.star {
  color: #A70B0B;
}
.secondBrown {
  height: 648px;
}
.man {
  margin-right: 21px;
}
.deliveryBrown {
  width: 988px;
  height: 638px;
  position: absolute;
  left: 50%;
  margin-left: -494px;
}
.deliveryBrown p:first-child {
  width: 138px;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  line-height: 42px;
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -69px;
}
.deliveryBrown p:nth-child(2) {
  width: 506px;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  position: absolute;
  top: 96px;
  left: 50%;
  margin-left: -233px;
}
.deliveryBrown p:nth-child(3) {
  width: 504px;
  height: 66px;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #FFE484;
  position: absolute;
  top: 149px;
  left: 50%;
  margin-left: -252px;
  text-shadow: 0px 0px 50px #F1CE30;
}
.deliveryBrown span.line {
  top: 249px;
  left: 50%;
  margin-left: -217.5px;
}
.deliveryBrown .weAreReady {
  width: 420px;
  height: 97.78px;
  position: absolute;
  top: 300px;
  margin-left: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.deliveryBrown .youMay {
  width: 391px;
  height: 98px;
  position: absolute;
  top: 411px;
  margin-left: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.fourth {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.weSend {
  width: 775px;
  height: 112px;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  margin: 46px auto 0 auto;
}
.fourth .tree {
  top: 136px;
}
.fourth .branchLeft, .fourth .branchRight {
  top: -69.5px;
}
.fifth {
  width: 1170px;
  height: 377px;
  position: relative;
  margin: 0 auto;
}
.fifthLeft {
  width: 55%;
  float: left;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fifthLeft p {
  margin-left: 138px; 
}
.fifthLeft p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}
.fifthLeft p:nth-child(2) {
  width: 476px;
  height: 126px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin-top: 32px;
}
.fifthRight {
  width: 45%;
  float: right;
  position: relative;
}
.fifthRight img {
  width: 330px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  float: left;
  margin: 90px 0 0 51px;
}
.fifth + .delivery p {
  width: 660px;
  height: 115px;
}
.sixth {
  height: 783px;
}
.sixth p {
  width: 867px;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -433.5px;
}
.sixth .line {
  width: 889px;
  top: 121px;
  left: 50%;
  margin-left: -444.5px;
}
.images {
  width: 805px;
  height: 58px;
  margin: 0 auto;
  position: absolute;
  top: 171px;
  left: 50%;
  margin-left: -402.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.images img:nth-child(2) {
  width: 94px;
  height: 18px;
}
.parag {
  width: 940px;
  height: 132px;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.parag > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.parag > div:first-child {
  width: 225px;
}
.parag > div:nth-child(2) {
  width: 250px;
}
.parag > div:nth-child(3) {
  width: 209px;
}
.parag > div:nth-child(4) {
  width: 216px;
}
.num {
  width: 23px;
  height: 38px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  color: #DBAB00;
}
.text {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.parag > div:nth-child(2) > div:nth-child(2) {
  margin-left: 6px;
}
.parag > div:nth-child(3) > div:nth-child(2),
.parag > div:nth-child(4) > div:nth-child(2) {
  margin-left: 5px;
}
.sixth .attantion {
  width: 918px;
  height: 126px;
  margin-left: -459px;
  font-size: 25px;
  line-height: 31px;
  color: #FFFFFF;
  top: 400px;
}
.sixth .delivery {
  width: 878px;
  height: 191px;
  background: #F5E586;
  position: absolute;
  bottom: 0;
  margin-bottom: 56px;
  left: 50%;
  margin-left: -439px;
}
.sixth .delivery div {
  width: 712px;
  height: 142px;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 45px;
  color: #FF0000;
  text-align: center;
}
#seventh {
  width: 1170px;
  margin: 0 auto;
}
.blankBord {
  width: 878px;
  height: 716px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  margin: 70px auto 34px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blankBord .blankSm {
  width: 819px;
  height: 668px;
  border: 5px solid #DBAB00;
}
.blankSm > .titleBlank {
  width: inherit;
  height: 47px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 46px;
  text-align: center;
  margin: 26px auto 25px auto;
}
.blankSm .withPre {
  width: 100%;
  height: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0 auto 40px auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.withPre label {
  width: 630px;
  margin-left: 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.withPre input[type="checkbox"] {
  display: none;
}
.withPre input[type="checkbox"] + i {
  width: 19px;
  height: 19px;
  border: 2px solid #E2C765;
  position: relative;
  margin-right: 5px;
}
.withPre input[type="checkbox"] + i::before {
  content: "v";
  position: absolute;
  left: 3px;
  bottom: -1px;
  font-weight: 900;
  font-size: 20px;
  color: #D92323;
}
.blankSm .iwait {
  width: 380px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  margin-left: 108px;
  margin-bottom: 26px;
}
#radioBtns {
  width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 70px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + i {
  width: 19px;
  height: 19px;
  border: 2px solid #E2C765;
  border-radius: 50%;
  position: relative;
}
input[type="radio"]:checked + i::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #D92323;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#radioBtns label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 21px;
  margin-left: 10px;
  cursor: pointer;
}
#radioBtns + div, .tel {
  width: 300px;
  float: left;
  margin-left: 108px;
}

.dayofweek {
  width: inherit;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 17px;
}
#days {
  border: 2px solid #E2C765;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  padding: 16px 188px 12px 39px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  clear: both;
}
#days option {
  width: 46px;
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.tel {
  float: right;
  margin: 0 70px 0 0;
}
.tel p {
  margin-bottom: 2px;
}
input[type="tel"] {
  border: 2px solid #E2C765;
  background: #ffffff;
  padding: 16px 80px 12px 27px;
}
input[type="tel"]::placeholder,
.tel + p + input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.tel + p + input[type="text"] {
  width: 520px;
  padding: 17px 93px 15px 21px;
  border: 2px solid #E2C765;
  margin-left: 108px;
}
.tel + p {
  width: 603px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 110px auto 7px auto;
}
input[type="text"] + label, .checked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  width: 660px;
  margin-top: 20px;
  margin-left: 108px;
}
input[type="text"] + label p, .checked p {
  width: 607px;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + i {
  width: 19px;
  height: 19px;
  border: 2px solid #E2C765;
  position: relative;
}
input[type="checkbox"]:checked + i::before {
  content: "v";
  position: absolute;
  left: 3px;
  bottom: -1px;
  font-weight: 900;
  font-size: 20px;
  color: #D92323;
}
input[type="checkbox"]:checked + i + p {
  color: #000000;
}
.checked span.star {
  color: rgba(0, 0, 0, 0.5) !important;
}
#seventh a {
  padding: 24px 74px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  background: #A70B0B;
  text-decoration: none;
  position: absolute;
  left: 50%;
  margin-left: -136.47px;
  margin-bottom: 39px;
}
#seventh a:hover {
  -webkit-box-shadow: 0px 0px 15px #DD9E23;
          box-shadow: 0px 0px 15px #DD9E23;
}
#seventh > a + p {
  width: 971px;
  height: 250px;
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 56px;
  text-align: center;
  margin: 147px auto 0 auto;
}
#seventh p span {
  color: #FF0000;
}
#seventh p.annot {
  width: 1000px;
  height: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 auto 22px auto;
}
#items {
  width: 1170px;
  height: 500px;
  margin: 0 auto 30px auto;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  background: url(../img/items.jpg) no-repeat;
  background-size: 100% 100%;
}

.image-js {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.close-js {
  text-decoration: none;
  color: #000000;
}
.arrow-js {
  font-size: 30px;
  cursor: pointer;
}
.div-js {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}