* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
body {
    background: #e5e7e8;
}
#main {
    width: 95%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#newsFeed, #newsConstructor {
    width: 45%;
    height: 800px;
}
#newsFeed {
    overflow: auto;
}
#newsFeed, #article, #comment {
    background: #ffffff;
    padding: 15px;
}
#newsConstructor {
    height: 830px;
    position: relative;
    margin-left: 15px;
}
#article, #comment {
    width: 94.5%;
    position: absolute;
}
#article {
    height: 64%;
    top: 0;
}
#article button {
    position: absolute;
    bottom: 15px;
}
#comment {
    display: none;
    height: 27%;
    bottom: 0;
    animation: showItem 1s;
    -webkit-animation: showItem 1s;
}
h1 {
    margin-bottom: 20px;
}
input, textarea {
    background: #e5e7e8;
    border: 1px solid #e5e7e8;
    padding: 10px 15px;
    margin-bottom: 10px;
}
textarea {
    width: 94%;
}
input[name="author"] {
    width: 45%;
}
input[name="link"] {
    display: block;
    width: 94%;    
}
input::placeholder, textarea::placeholder {
    color: black;
    font-size: 17px;
}
input[name="commentAuthor"] {
    width: 45%;
}
input[name="commentAuthor"]::placeholder {
    color: #15aaea;
}
textarea[name="commentText"]::placeholder {
    color: #969696;
}
button {
    padding: 5px 10px;
    border: 1px solid #ffbf00;
    background: #ffbf00;
    cursor: pointer;
}
button:hover {
    border: 1px solid #ffbf00;
    background: #ffffff;
}
.showImage {
    max-width: 250px;
    max-height: 165px;
    animation: showItem 1s;
}
.newsBlock {
    position: relative;
    width: 95%;
    background: #e5e7e8;
    padding: 15px;
    margin-bottom: 15px;
    animation: showItem 1s;
}
.deletePost, .deleteComment {
    height: 21.52px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    color: #999999;
    font-size: 24px;
}
.deleteComment {
    top: 10px;
    right: 0;
}
.likes, .deletePost:hover, .deleteComment:hover {
    color: red;
}
.author {
    color: #15aaea;
}
.imagePost {
    max-width: 100%;
    max-height: 300px;
}
.likes, .likes:hover, .showComments, .showComments:hover, .deletePost, .deletePost:hover, .deleteComment, .deleteComment:hover {
    border: none;
    background: none;
}
.likeAndComment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.comment {
    position: relative;
    width: 100%;
    background: #e5e7e8;
    animation: showItem 1s;
}
.allComments {
    display: block;
    border-top: 1px solid black;
}
.textJustify, .comment {
    text-align: justify;
}
.hide {
    display: none;
}

@keyframes showItem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}