@media screen and (max-width: 1745px) {
    #examplesOfPortfolio{
        width: 80%;
    }
}
@media screen and (max-width: 1530px) {
    #examplesOfPortfolio{
        width: 90%;
    }
}
@media screen and (max-width: 1356px) {
    #examplesOfPortfolio{
        width: 100%;
    }
}
@media screen and (max-width: 1243px) {
    #bodyPortfolio{
        height: 1100px;
    }
    #examplesOfPortfolio{
        width: 90%;
        height: 960px;
    }
}
@media screen and (max-width: 1227px) {
    .link{
        margin-right: 30px;
    }
    #name{
        margin-right: 75px;
    }
}
@media screen and (max-width: 1067px) {
    .link{
        margin-right: 15px;
        font-size: 15px;
    }
    #name{
        margin-right: 40px;
    }
}
@media screen and (max-width: 1040px) {
    #examplesOfPortfolio{
        width: 100%;
    }
}
@media screen and (max-width: 925px) {
    #bodyPortfolio{
        height: 1250px;
    }
    #examplesOfPortfolio{
        width: 80%;
        height: 1110px;
    }
}
@media screen and (max-width: 850px) {
    #examplesOfPortfolio{
        width: 90%;
    }
}
@media screen and (max-width: 815px) {
    .menu{
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .link{
        margin: 0;
    }
    #name{
        margin: 0;
    }
}
@media screen and (max-width: 750px) {
    #examplesOfPortfolio{
        width: 100%;
    }
}
@media screen and (max-width: 625px) {
    #description{
        width: 90%;
        margin-bottom: 20px;
    }
    #bodyPortfolio{
        height: 2500px;
        margin-top: 20px;
    }
    #examplesOfPortfolio{
        width: 90%;
        height: 2400px;
    }
}
@media screen and (max-width: 601px) {
    .link{
        display: none;
    }
    .menu span{
        display: block;
    }
}